#u420-6
{
	font-family: open-sans-n3, sans-serif;
}

#u91-4,#u107-4,#u486-4
{
	font-family: open-sans-n7, sans-serif;
}

#u489-4
{
	font-family: open-sans-n7, sans-serif;
}

#u499-4
{
	font-family: open-sans-n7, sans-serif;
}

#u504-4
{
	font-family: open-sans-n7, sans-serif;
}

#u100-18,#u120-4,#u162-4,#u167-4,#u172-4,#u173-4,#u174-4,#u175-14
{
	font-family: open-sans-n3, sans-serif;
}

#u122-69,#u421-10,#u434-9
{
	font-family: open-sans-n4, sans-serif;
}

#u100-3,#u100-6,#u100-10,#u100-15,#u120,#u143-4,#u160-4,#u162,#u172,#u174,#u298-4,#u211-4,#u315-4,#u316-4,#u317-4,#u318-4,#u319-4,#u320-4,#u321-4,#u322-4,#u193-4,#u421,#u434-5
{
	font-family: open-sans-n7, sans-serif;
}

